.training_header {
  height: auto;
  width: 100%;
  background-color: var(--off-red);
}

.training_header .all_nav {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.training_header .all_nav .nav_content {
  display: block;
}

.training_header .all_nav .nav_content a {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 100;
  margin: 0px 20px;
}

.training_header .all_nav .nav_content a button {
  font-size: inherit;
  font-weight: inherit;
  padding: 8.5px 15px;
  background-color: var(--red);
  color: var(--white);
  cursor: pointer;
  outline: none;
  border: 1px solid var(--red);
}

.training_header .all_nav .nav_content a button:hover {
  background-color: transparent;
  color: var(--red);
}

.training_header .all_nav .nav_content a a:hover {
  color: var(--red);
}

.welcome_text_others {
  max-width: 600px;
  margin: 0px auto;
  padding: 48px 15px 90px;
}

.welcome_text_others * {
  text-align: center;
}

.welcome_text_others p {
  text-transform: uppercase;
  color: var(--red);
  font-weight: 400;
  margin-bottom: 8px;
}

.welcome_text_others h2 {
  font-size: 2rem;
  font-weight: 700;
}

.welcome_text_training {
  max-width: 1200px;
}

.welcome_text_training * {
  text-align: left;
}

.atInternship {
  background-color: var(--white);
}

.all_nav {
  padding: 50px 10px;
  text-align: center;
}

.atInternship_nav {
  padding: 15px 10px;
  text-align: unset;
}

.header_class_component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-top: 0px;
  padding: unset;
}

.header_class_component * {
  font-family: Averta, monospace;
}

.header_class_component .welcome_bold_texts .hero_bold_text {
  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
}

.header_class_component .welcome_bold_texts .intership_bold_text {
  font-size: 30px;
  font-weight: 700;
}

.header_class_component .welcome_bold_texts .key_text {
  text-transform: unset;
  color: var(--font-color);
  font-weight: 100;
  opacity: 0.95;
  margin: 10px 0px;
  line-height: 24px;
}

.header_class_component .welcome_bold_texts .intership_key_text {
  font-size: 13.25px;
}

.ingressive_enrol {
  margin-top: 30px;
}

.ingressive_enrol img {
  width: 180px;
  height: auto;
}

.ingressive_enrol .powered {
  color: black;
  text-transform: unset;
}

.ingressive_enrol .ing_button {
  font-size: inherit;
  font-weight: inherit;
  padding: 8.5px 15px;
  background-color: var(--red);
  color: var(--white);
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: 36px;
}

.ingressive_enrol .at_button {
  margin-top: 12px;
  margin-bottom: 24px;
}

.internship_hero {
  display: block;
  margin-left: auto;
  width: auto;
}

.welcome_bold_images {
  width: 60%;
}

.internship_flex {
  width: 50%;
}

.internship_flex .powered {
  margin-top: 20px;
}

.welcome_bold_texts {
  width: 40%;
}

@media (max-width: 768px) {
  .training_header .all_nav .nav_content {
    display: none;
  }
  .internship_hero {
    display: block;
    margin: 3rem auto;
    margin-left: unset;
    width: 100%;
  }
  .header_class_component {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5rem 1rem;
  }
  .welcome_bold_images, .welcome_bold_texts, .internship_flex {
    width: 100%;
  }
}
/*# sourceMappingURL=training-header.css.map */